body {
  margin: 0;
  font-family:
    "Open Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  font-optical-sizing: auto;
  font-style: normal;
  --header-height: 3.25rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  min-height: 100%;
}

p {
  color: #0009;
  margin: 0;
  padding: 0 0 1rem 0;
}

strong {
  color: black;
}

h1 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 3rem 0 0.5em;
  font-weight: 900;
  line-height: 1.2em;
}

.outlined {
  outline: 2px solid #eee;
}

aside {
  font-size: 0.9rem;
  color: #059;
  padding: 0.5rem;
  word-break: break-word;
}

aside .padded {
  background: #059;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

.App {
  max-width: 70rem;
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  font-family: "Merriweather", serif;
  left: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  background: #e6e6e6;
  height: var(--header-height);
}

header div {
  max-width: 70rem;
  margin: auto;
  padding: 1rem 2rem;
}

.main-content {
  padding: 2rem;
  flex-grow: 1;
}

ul.head {
  font-size: 1.2rem;
  li {
    margin: 0 0 1em;
  }
}

ul.demo {
  padding: 1em;
  margin: 0;
  list-style-type: none;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li {
    counter-increment: listCounter;
  }

  li::before {
    content: counter(listCounter) ". ";
  }
}
.big-demo {
  height: 400vh;
  background-image: linear-gradient(#e6e6e6 15%, #5ea6db, #db5ead, #dbba5e, #a9db5e);
  box-shadow: 0 0 0 2rem white inset;
}

footer {
  font-family: "Merriweather", serif;

  height: 25rem;
  background: #e6e6e6;
  padding: 1rem;
}
